@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Nossa Primeira Rota <a href="https://learn.microsoft.com/aspnet/core">Criada com ASP.NET Core</a>.</p>
</div>
