@{
    ViewData["Title"] = "Seb Soluções";
}
<h1>@ViewData["Title"]</h1>

<p>Treinamento sobe medida para todos que sejam sucesso.</p>

<button class="btn btn-outline-success">62 9 9857-9084</button>
